<%= form_for @gallery, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field', :require => true, :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit nil, :class => 'btn btn-large btn-primary' %>
    <!--<a class="close btn" data-dismiss="modal">Cancel</a>-->
    <!--<a href="/galleries" class="btn close cancel" data-dismiss="modal">Cancel</a>-->
    <%= link_to "Cancel", galleries_path, :class=>"btn btn-large btn-primary"  %>
  </div>
<% end %>




