<div class="row">
  <h1>Galleries</h1>
  <ul class="thumbnails files">
    <% @galleries.each do |gallery| %>
        <li class="span3" id="gallery_<%= gallery.id %>">
          <div class="thumbnail">
            <% if gallery.cover.blank? or !Picture.find_by_id(gallery.cover) %>
                <a href="<%= gallery_path(:id => gallery.id) %>">
                  <img src="/assets/NoImageAvailable.jpg" alt="">
                </a>
            <% else %>
                <a href="<%= gallery_path(:id => gallery.id) %>">
                  <img src="<%= Picture.find_by_id(gallery.cover).image.thumb.url %>" alt="">
                </a>
            <% end %>
            <div class="caption">
              <p style="text-align: center;font-size: 15px; font-weight: bold;">
                <%= best_in_place gallery, :name, :type => :input, :nil => "Your Album" %>
                <i class="icon-edit "></i>
                    <a class="delete" data-confirm="Are you sure?"  data-method="delete" href="/galleries/<%= gallery.id %>"  data-remote= true >
                  <i class="icon-trash"></i>
              </a>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

  <%= link_to 'New', new_gallery_path, :class => 'btn' %>
</div>

<script>
    $(document).ready(function() {
        /* Activating Best In Place */
        jQuery(".best_in_place").best_in_place();
    });
</script>