
<div class="row">
  <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
  <h10>
    <%= best_in_place @gallery, :name, :type => :input, :nil => "Your Album" %>
  </h10>
</div>

<%= form_for [@gallery, @picture], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <div class="row">
      <div class=" fileupload-buttonbar">
        <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>
          <span class="btn btn-large fileinput-button" id="drop-files">
            <i class="icon-plus"></i> Drop Images Here Or
            <span><%= t('photos.add_files') %>...</span>
            <%= f.file_field :image, :multiple => true %>
          </span>
      </div>
    </div>
    <br>
    <div class="row">
      <ul class="thumbnails files">
        <% unless @pictures.empty? %>
            <% @pictures.each do |pic| %>
                <li class="span3" id="picture_<%= pic.id %>">
                  <div class="thumbnail">
                    <a href="<%= pic.image.url %>" target="_blank" rel="shadowbox[gallery];" title="<%= pic.description %>">
                      <img src="<%= pic.image.thumb.url %>" alt="">
                    </a>
                    <div class="caption">
                      <p style="text-align: center;">
                        <td><span class="best_in_place" id="best_in_place_picture_description" target='_blank' data-url="/galleries/<%= @gallery.id %>/pictures/<%= pic.id %>" data-object="picture" data-attribute="description" data-type="input"> <%= pic.description %></span></td>
                      <i class="icon-edit "></i>
                        <a class="delete" data-confirm="Are you sure?"  data-method="delete" href="/galleries/<%= @gallery.id %>/pictures/<%= pic.id %>"  data-remote= true >
                          <i class="icon-trash"></i>
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
<script>
    var fileUploadErrors = {
        maxFileSize: 'File is too big',
        minFileSize: 'File is too small',
        acceptFileTypes: 'Filetype not allowed',
        maxNumberOfFiles: 'Max number of files exceeded',
        uploadedBytes: 'Uploaded bytes exceed file size',
        emptyResult: 'Empty file upload result'
    };

    Shadowbox.init();
    $(document).ready(function() {
        /* Activating Best In Place */
        jQuery(".best_in_place").best_in_place();
    });

</script>

<%= javascript_include_tag 'jquery.ui.widget.js' %>
<%= javascript_include_tag 'jquery.iframe-transport.js' %>
<%= javascript_include_tag 'jquery.fileupload.js' %>
<%= javascript_include_tag 'jquery.fileupload-ui.js' %>

<div class="well">
    <%= link_to 'Back', galleries_path, :class => 'btn btn-special'  %>
    <%= link_to 'Delete', gallery_path(@gallery), :method => 'delete', :confirm => 'Are you sure want delete all pictures?', :class => 'btn btn-special' %>

</div>

